<%= semantic_form_for @recipe, :html => { :class => 'form-stacked'}, :validate => true do |f| -%> 
<div class="row">
  <div class="span8">
  <p>Voeg een recept toe:</p>
     <%= f.inputs do %>
        <%= f.input :name, :label => "Naam" %>
        <%= f.input :description, :label => "Uitgebreide beschrijving", :as => :text,  :input_html => { :rows => 10, :cols => 60, :resize => 'none'}%>
        <%= f.input :instructions, :label => "Instructies",  :as => :text,  :input_html => { :rows => 10, :cols => 60, :resize => 'none'} %>
        <%= f.input :preperation_time, :label => "Bereidingstijd" %>
        <%= f.input :course, :label => "Menugang", :as => :select, :collection => ["Amuse", "Voorgerecht", "Hoofdgerecht", "Bijgerecht", "Lunch", "Ontbijt"] %>
        <div class="field">
         <%= f.label :Foto %>
         <%= f.file_field :image %>
        </div>
      <% end %>
  </div>
  <div class="span4">
      <p>Voeg ingredienten toe:</p>
      <div id="ingredients-fields">
           <%= f.semantic_fields_for :ingredients do |i| %>
               <%= i.inputs do %>
                 <%= render 'ingredient', :i => i %>
                 <% end %>
          <% end %>
      </div>
          <!-- <a class="add-ingredient-fields" href="#">add</a> -->
      </div>
  </div>
</div>
<%= f.buttons do %>
    <%= f.commit_button :button_html => {:class => "primary"} %>
    <% end %>
<% end %>
