<%= title "Alle recepten" %>

<%= form_tag recipes_path, :method => :get, :id => "recipes_search", :autocomplete => 'off' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Zoeken", :name => nil, :class => 'btn primary' %>
  </p>
<% end %>

<%= render 'recipes' %>

<%= link_to 'Voeg nieuw recept toe', new_recipe_path %>
